.news-card {
  display: grid;
  grid-template-rows: 196px auto;

  overflow: hidden;
  position: relative;

  border-radius: 16px;

  background-color: #fff;
}

.news-card__image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.news-card__tag {
  position: absolute;
  left: 16px;
  top: 16px;
  margin: 0;
  padding: 12px 11px;
  max-width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 10px;

  font-size: 14px;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  word-break: break-all;
}

.news-card__description {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.news-card__date {
  font-size: 18px;
  font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;

  color: #B6BCBF;
}

.news-card__title {
  margin: 10px 0;

  font-size: 22px;
  font-family: 'Roboto Slab', 'Georgia', 'Times', serif;
  font-weight: 400;
  line-height: 26px;
}

.news-card__text {
  display: block;

  margin: 0 0 10px;

  font-size: 16px;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.news-card__source {
  margin: auto 0 0;

  font-size: 16px;
  font-family: 'Roboto Slab', 'Georgia', 'Times', serif;
  font-weight: 700;
  text-transform: uppercase;

  color: #B6BCBF;
}

@media all and (min-width: 520px) {
  .news-card {
    grid-template-rows: 150px auto;
  }

  .news-card__tag {
    left: 8px;
    top: 8px;
  }

  .news-card__title {
    margin-top: 12px;
  }

  .news-card__text {
    margin-bottom: 12px;
  }
}

@media all and (min-width: 1024px) {
  .news-card {
    grid-template-rows: 272px auto;
  }

  .news-card__tag {
    left: 24px;
    top: 24px;
  }

  .news-card__description {
    padding: 24px;
  }

  .news-card__title {
    margin-bottom: 16px;

    font-size: 26px;
    line-height: 30px;
  }

  .news-card__text {
    margin-bottom: 18px;
  }
}
